@model IEnumerable<footballapp.Models.Tournament>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Tournaments List</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            Options
        </th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Name)
    </td>
    <td>
        <a href="@Url.Action("Edit", "Tournaments", new { id = item.Id })">
            <i class="small material-icons">create</i>
        </a>
        <a href="@Url.Action("Details", "Tournaments", new { id = item.Id })">
            <i class="small material-icons">format_align_justify</i>
        </a>
        <a href="@Url.Action("Delete", "Tournaments", new { id = item.Id })">
            <i class="small material-icons">delete</i>
        </a>
    </td>
</tr>

<div class="fixed-action-btn right">
    <a href="@Url.Action("Create", "Tournaments")">
        <i class="large material-icons">add_circle</i>
    </a>
</div>
}

</table>
