@model footballapp.Models.Match

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Match</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.matchWeek)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.matchWeek)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Team_1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Team_1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Team_2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Team_2)
        </dd>

    </dl>
</div>
<p>
    <div>
        <div class="fixed-action-btn right">
            <a href="@Url.Action("Fixture", "Tournaments", new { id = Model.Tournament_Id })"
                class="btn-floating btn-small" style="background-color: #F30617;">
                <i class="large material-icons">arrow_back</i>
            </a>
        </div>
    </div>
</p>
